<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="./public/css/styles.css">
    <title></title>
  </head>
  <body>
    <div id='container'>
      <div id="story"></div>

    </div>
    <script type="text/javascript" src="./lib/story.js"></script>
    <script type="text/javascript" src="./lib/promise.js"></script>
    <script type="text/javascript" src="./public/javascript/helpers/prettyPrinter.js"></script>
    <script type="text/javascript" src="./public/javascript/interface.js"></script>

<script src="../lib/api.js"></script>
  </body>
</html>
